<div class="edit">
    <img src="/images/edit-icon.png" alt="Edit" id="editButton" class="edit">
</div>
<div class="delete">
    <img src="/images/delete-icon.png" alt="Delete" id="delButton" class="delete">
</div>