<div class="edit"> <img src="/images/edit-icon.png" alt="Edit" class="edit" style="width: 100px; height: 100px; cursor: pointer;"> </div>
<div class="delete"> <img src="/images/delete-icon.png" alt="Delete" class="delete" style="width: 100px; height: 100px; cursor: pointer;"> </div>