<footer>
    <div class="footer-content">
        <p>&copy; 2024 de Robert de Bousquet Emilien - Nathanaël Seitz Tout droits réservé.</p>
        <nav class="footer-nav">
            <ul>
                <li><a href="https://linktr.ee/emilphonix" target="_blank"><img src="https://cdn.icon-icons.com/icons2/3912/PNG/512/linktree_logo_icon_247832.png" alt="Linktree" style="width: 24px; height: 24px;"></a></li>
                <li><a href="https://www.linkedin.com/in/drdb-emilien/" target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/linkedin-icon.svg" alt="LinkedinEmilien" style="width: 24px; height: 24px;"></a></li>
                <li><a href="https://www.linkedin.com/in/nathana%C3%ABl-seitz/" target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/linkedin-icon.svg" alt="LinkedinEmilien" style="width: 24px; height: 24px;"></a></li>
            </ul>
        </nav>
    </div>
</footer></footer>