<form action="/publisher" method="POST">
    <label for="editeur">Editeur :</label>
    <input type="text" id="editeur" name="editeur" required><br>

    <button type="submit">Ajouter</button>
</form>