<body>
        <ul>
            {{#each genre.jeux}}
                <li>
                    <a href="/games/{{this.id}}/detail">{{this.title}}</a>
                </li>
            {{/each}}
        </ul>
</body>